@using HtmlHelpersPrj.CustomHelpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1> Extension Method</h1>
<p>
    @Html.LabelWithItalics("Ext Method in Red Color")
    @Html.LabelinGreen("Green Extension")
</p>
<hr/>
<h1>Static Helper</h1>
<p>
    @CustomHelper.LabelWithMark("Static Helper")

</p>

