@model IEnumerable<Day3EFPrj.Models.Ten_Most_Expensive_Products_Result>
@{
    ViewBag.Title = "Proc_Expensive_Products";
}

<h2>Proc_Expensive_Products</h2>
@foreach(var p in Model)
            {
                <li>@p.TenMostExpensiveProducts</li>
                <li>@p.UnitPrice</li>
            }

