@model Day2Views_Prj.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>Display Employee Details</h2>
<ul>
    <li>@Model.Eid</li>
    <li>@Model.Ename</li>
    <li>@Model.Salary</li>
</ul>

